<div class="container bootstrap-override spotlight-card">
  <legend>Campaign Manager</legend>
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>

    <%= f.submit 'Login', class: "btn btn-primary", id: "login-submit" %>
    <%= link_to 'Create Account', signup_path, class: "btn btn-secondary"  %>
  <% end %>
</div>
