Mango

<%= form_for :session, url: login_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "", placeholder: "Email" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "", placeholder: "Password"  %>
  </div>
  <%= f.submit 'Log In', class: "mt2 btn btn-primary mb1 bg-teal" %>
<% end %>

<%= link_to 'Create Account', new_user_path  %>
