<%# render partial: "application/navbar" %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= form_for :session, url: login_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "", placeholder: "Email" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "", placeholder: "Password"  %>
  </div>
  <%= f.submit 'Login', class: "" %>
<% end %>

<%= link_to 'Create Account', new_user_path  %>
