<div class="container spotlight-card bootstrap-override">
  <legend>Campaign Manager</legend>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.email_field :email, placeholder: 'Email', class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control'%>
    </div>
    <%= f.submit 'Create Account', class: "btn btn-primary" %>
    <%= link_to 'Sign In', login_path, class: "btn btn-secondary" %>
  <% end %>
</div>
