
<%= form_for @contact do |f| %>
<h1>Create New Contact</h1>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "", placeholder: "Name" %>
  </div>
  <div>
    <%= f.label :internal_name %>
    <%= f.text_field :internal_name, class: "", placeholder: "Inernal Name" %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "", placeholder: "Phone Number" %>
  </div>


  <div>
    <h3>Add to Campaigns</h3>
    <% @campaigns.each do |campaign| %>
      <%= label_tag "campaign-#{campaign.id}", "#{campaign.name}" %>
      <%= check_box_tag 'campaign_ids[]', campaign.id, nil, id: "campaign-#{campaign.id}" %>
    <% end %>

  </div>



  <%= f.submit 'Create Contact', class: "" %>
<% end %>
