<%= render partial: "application/navbar" %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h1>Campaigns</h1>

<%= link_to 'New Campaign', new_campaign_path %>
<br>
<br>
<% @campaigns.each do |campaign| %>
  <div class="campaign", id="campaign-<%= campaign.id %>">
    <%= campaign.name %>
    <%= link_to 'See Campaign', campaign_path(campaign) %>
    <br>
  </div>
<% end %>
