<%= render partial: "application/navbar" %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h1>Campaigns</h1>

<%= link_to 'New Campaign', new_campaign_path %>

<%= @campaigns.each do |campaign| %>
  <%= campaign.name %>
  <%= link_to 'See Campaign', campaign_path(campaign) %>
  <br>
<% end %>
